* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
    width: 100%;
    font-family: 'Roboto', Arial;
    margin:0px;
    padding: 0px;
    background: url('../images/185925051.jpg') center center no-repeat;
    background-size: cover;
    background-color: #000;
}

#header {
    padding-bottom: 20px;
}

#header a {
    background-image: url('../images/savetab-circle.png') 50px 50px no-repeat;
}

#beta {
    color: #03a9f4;
    text-align: center;
    margin: 7% 10%;
    padding: 7px 0; 
    border: 2px solid #03a9f4;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.cta {
    font-size: 120%;
}

.content {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding-bottom: 20px;
}

.content p {
    font-size: 2em;
    padding-left: 3%;
}

.message {
    margin: 20px 10px;
    font-size: 110%;
}

#form {
    color: #fff;
    background-color: rgba(90, 90, 90, 0.8);
}

@media screen and (max-width: 850px) {
    .content div h1 {
        width:95%;
        margin: 5px 0px 0 0 ;
        height:auto;
    }

    .pure-u-md-3-5 {
        width:95%;
    }

    .pure-g {
        width:100%;
        color:#fff;
        float: left ;
    }

    input[type="email"] {
        width: 95%;
    }

    button[type="submit"] {
        width: 95%;
    }
}

#error {
    color: red;
    font-weight: bold;
}

#footer {
    font-size: 90%;
    text-align: center;
    color: #fff;
    background-color: #03a9f4;
    padding: 15px;
}



